.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.stopwatch {
  width: 300px;
  padding: 30px;
  background: #02a5a5;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.actions button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #0e6a99;
  background: #0c7ab1;
  color: #fff;
}

.actions button:hover,
.actions button:focus {
  background: #03354e;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
